body {
  background-image: url("image/javascript-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: lightgray;
  color: whitesmoke;
  font-family:  'Poppins', sans-serif;
}

#start-game {
  display: block;
  margin: 2vw auto;
  text-align: center;
  background-color: black;
  color: orangered;
  padding: 1.5vw 2vw;
  font-size: 2.5vw;
  box-shadow:  0 8px 16px 0 lavender, 0 6px 20px 0 blue;
  border: none;
}

#start-game:hover {
  background-color: orangered;
  color: whitesmoke;
}

#game-container {
  background-color: #1b2c38F2;
  color: whitesmoke;
  margin: auto;
  margin-top: 10vw;
  width: 90%;
  height: 35vw;
}

#title {
  margin-top: 2vw;
  padding: 2vw;
  color: #ff4500;
  text-align: center;
}

#text {
  margin: 0 10vw;
  text-align: center;
  height: 5em;
}

#timer-box {
  color: #4500ff;
  font-size: 2vw;
  text-align: center;
  margin-top: 2vw;
  padding: 2vw;
  height: 2vw;
  font-display: 'Kameron', serif;
}

#question-box {
  text-align: center;
  margin: 1vw;
  color: #00ff45;
  font-size: 1.5vw;
  height: 1.6em;

}

#choose-answer {
  font-size: 1.5vw;
  font-weight: 400;
  margin: 0 10vw;
  text-align: center;
  font-weight: 100;
  color: #ff4500;
  height: 1.5em;
}

#answers-box {
  text-align: center;
  margin: 1vw;
  font-size: 1.5vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5vw;
  padding: 0.5vw;
}

li:hover {
  background-color: #4500ff;
}

.correct:hover{
  background-color: #00ff45;
}

.wrong:hover{
  background-color: #ff4500;
}