body {
  background-image: url("image/Screenshot-2017-04-22-20.47.15.png");
  color: whitesmoke;
  background-repeat: no-repeat;
  font-family:  'Poppins', sans-serif;
}

#start-game {
  display: block;
  margin: 3vw auto;
  text-align: center;
  background-color: black;
  color: orangered;
  padding: 1.5vw 2vw;
  font-size: 2.5vw;
  box-shadow: 0 8px 16px 0 #00ff88, 0 6px 20px 0 blue;
  border: none;
}

#start-game:hover {
  background-color: orangered;
  color: whitesmoke;
}

#game-container {
  background-color: #1b2c38f0;
  box-shadow: 0 8px 16px 0 #1e1e1e, 0 6px 20px 0 black, 0 6px 20px 0 #1b2c38;
  color: whitesmoke;
  margin: auto;
  margin-top: 8vw;
  width: 85vw;
  height: 45vw;
}

#title {
  margin-top: 2vw;
  padding: 2vw;
  color: #ff4500;
  font-weight: 500;
  font-size: 2.2vw;
  text-align: center;
}

#text {
  font-size: 1.7vw;
  font-weight: 400;
  margin: 0 10vw;
  text-align: center;
  font-weight: 100;
}

#timer-box {
  color: #4500ff;
  font-size: 2vw;
  text-align: center;
  margin: 2vw;
  font-display: "Karla", sans-serif;;
}

#question-box {
  text-align: center;
  margin: 1vw;
  color: #00ff88;
  font-size: 2vw;
}

#choose-answer {
  font-size: 1.7vw;
  font-weight: 400;
  margin: 0 10vw;
  text-align: center;
  font-weight: 100;
  color: #ff4500;

}

#answers-box {
  text-align: center;
  margin: 1vw;
  font-size: 1.7vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5vw;
  padding: 0.5vw;
}

li:hover {
  background-color: #4500ff;
}

.correct:hover{
  background-color: #00ff88;
}

.wrong:hover{
  background-color: #ff4500;
}